# ===== OS / misc =====
.DS_Store

# ===== Logs =====
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== Frontend (Node/Vite) =====
node_modules/
dist/
dist-ssr/
.vite/
*.local

# env files (keep a committed .env.example if you add one)
.env
.env.*

# ===== Backend (.NET) =====
**/bin/
**/obj/
.vs/

*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Editors =====
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
